/* @import 'highlight.js/styles/atom-one-dark.css'; */
@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
    font-family: 'Inter Tight', sans-serif;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-typing {
    animation: typing 1.5s steps(3, end) infinite;
  }

  @keyframes typing {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
  }
}

